In [1]:
import pandas as pd

In [1]:
!ls -alhtr run*

-rw-r--r--. 1 gfidalgo 1399  54M May  9 10:19 run-378_239.parquet
-rw-r--r--. 1 gfidalgo 1399  76M May  9 10:22 run-379_530.parquet
-rw-r--r--. 1 gfidalgo 1399  65M May  9 10:26 run-380_092.parquet
-rw-r--r--. 1 gfidalgo 1399 105M May  9 10:30 run-380_481.parquet
-rw-r--r--. 1 gfidalgo 1399  18M May  9 10:31 run-380_744.parquet
-rw-r--r--. 1 gfidalgo 1399  88M May  9 11:00 run-381_208.parquet
-rw-r--r--. 1 gfidalgo 1399  52M May  9 11:14 run-381_698.parquet
-rw-r--r--. 1 gfidalgo 1399  26M May  9 11:15 run-382_465.parquet
-rw-r--r--. 1 gfidalgo 1399  37M May  9 11:17 run-382_770.parquet
-rw-r--r--. 1 gfidalgo 1399  75M May  9 11:20 run-383_254.parquet
-rw-r--r--. 1 gfidalgo 1399  31M May  9 11:21 run-383_687.parquet
-rw-r--r--. 1 gfidalgo 1399 130M May  9 11:26 run-384_052.parquet
-rw-r--r--. 1 gfidalgo 1399  37M May  9 11:27 run-384_331.parquet
-rw-r--r--. 1 gfidalgo 1399 129M May  9 11:32 run-384_963.parquet
-rw-r--r--. 1 gfidalgo 1399  88M May  9 11:35 run-385_286.parquet
-rw-r--r--. 1 gfidalgo 1399  31M May  9 11:37 run-385_712.parquet
-rw-r--r--. 1 gfidalgo 1399  24M May  9 11:38 run-386_143.parquet
-rw-r--r--. 1 gfidalgo 1399  60M May  9 11:41 run-386_673.parquet
-rw-r--r--. 1 gfidalgo 1399  43M May  9 11:42 run-386_951.parquet
-rw-r--r--. 1 gfidalgo 1399  47M May  9 11:44 run-387_721.parquet

In [3]:
df = pd.read_parquet("run-378_239.parquet")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15568 entries, 0 to 15567
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dataset     15568 non-null  object
 1   me          15568 non-null  object
 2   dataset_id  15568 non-null  int64
 3   file_id     15568 non-null  int64
 4   run_number  15568 non-null  int64
 5   ls_number   15568 non-null  int64
 6   me_id       15568 non-null  int64
 7   x_min       15568 non-null  float64
 8   x_max       15568 non-null  float64
 9   x_bin       15568 non-null  float64
 10  y_min       15568 non-null  float64
 11  y_max       15568 non-null  float64
 12  y_bin       15568 non-null  float64
 13  entries     15568 non-null  int64
 14  data        15568 non-null  object
dtypes: float64(6), int64(6), object(3)
memory usage: 1.8+ MB